<div class="card mb-3">
    <div class="card-header"><h4>{{ title }}</h4></div>
    <div class="card-body">
        <pagination></pagination>
        <div class="card" ng-repeat="request in table" style="margin-bottom: 10px;">
            <div class="card-header">
                <div class="row align-items-end">
                    <div class="col-sm"><h6>{{ request.type }}</h6></div>
                    <div class="col-sm"><h6>Number of occurences: {{ request.count }}</h6></div>
                </div>
                <div class="row align-items-end">
                    <div class="col-sm"><h6>{{ request.message }}</h6></div>
                    <div class="col-sm"><h6>Latest: {{ request.latest_timestamp | dateDifference }} | First: {{ request.first_timestamp | dateDifference }}</h6></div>
                </div>
            </div>
            <table class="table table-bordered table-hover" width="100%" style="margin: 0;" cellspacing="0">
                <tbody>
                    <tr ng-repeat="row in request.full_stacktrace">
                        <td style="padding-left: 10px;">
                            <details ng-click="getFunctionById(row.function_id)">
                            <summary>{{ row.filename }} <span style="color: grey;">in</span> {{ row.function_name }} <span style="color: grey;">at</span> {{ row.line_number }} </summary>
                                <table>
                                    <tbody>
                                    <tr 
                                        ng-repeat="line in id2Function[row.function_id]"
                                        ng-class="{'bg-danger-subtle':line.is_exception_line}"
                                    >
                                        <td style="align-content: flex-start;">
                                            <span style="color: grey;"> {{ line.line_number }} </span> 
                                        </td>
                                        <td>
                                            <span style="white-space: pre-wrap; word-break: break-word;"> {{ line.code }} </span>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </details>
                        </td>
                    </tr>    
                </tbody>
            </table>
        </div>
        <pagination></pagination>
    </div>
    <endpointdetails></endpointdetails>
</div>
