<div class="card mb-3">
    <div class="card-header"><h4>Exceptions for this endpoint</h4></div>
    <div class="card-body">
        <pagination></pagination>
        <div class="card" ng-repeat="request in table" style="margin-bottom: 10px;">
            <div class="card-header">
                <div class="row align-items-end">
                    <div class="col-sm"><h6>{{ request.type }}</h6></div>
                    <div class="col-sm"><h6>Latest occurence: {{ request.latest_timestamp | dateDifference }}</h6></div>
                </div>
                <div class="row align-items-end">
                    <div class="col-sm"><h6>{{ request.message }}</h6></div>
                    <div class="col-sm"><h6>First occurence: {{ request.first_timestamp | dateDifference }}</h6></div>
                </div>
            </div>
            <table class="table table-bordered table-hover" width="100%" style="margin: 0;" cellspacing="0">
                <thead>
                <tr>
                    <th style="width: 30%">File name</th>
                    <th style="width: 30%">Code-line</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in request.full_stacktrace">
                    <td style="padding-left: 10px;">
                        {{ row.filename }} <span style="color: grey;">in</span> {{ row.function_name }} <span style="color: grey;">at</span> {{ row.line_number }}
                    </td>
                    <td style="padding-left: 10px;">
                        {{ row.code }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pagination></pagination>
    </div>
    <endpointdetails></endpointdetails>
</div>
